:host {
  display: block;
  height: 100%;
}

.bg-login-substrate {
  background: radial-gradient(circle at center, #1B3A57 0%, #001d35 100%);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

// Animation shake (optionnelle, si tu veux la garder pour les erreurs)
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}

.animate-shake {
  animation: shake 0.2s cubic-bezier(.36, .07, .19, .97) both;
  animation-iteration-count: 2;
}