:host {
  display: contents;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.custom-shadow {
  box-shadow: 0px 4px 12px rgba(27, 58, 87, 0.08);
}

.timeline-line::before {
  content: '';
  position: absolute;
  left: 11px;
  top: 24px;
  bottom: 0;
  width: 2px;
  background-color: #E1E8ED;
}

.timeline-item:last-child .timeline-line::before {
  display: none;
}